*{
    background-color: #15150D;
    color: #b36f26;
}

nav a {
    color: #b36f26;
    font-size: 30px;
    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    padding: 10px;
    box-shadow: inset 300px 0 0 0 #15150D;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

nav a:hover {
    box-shadow: inset 300px 0 0 0 #b36f26;
    color: #15150D;
}

h1 {
    grid-area: h1;
    color: #8d5c28;
    text-align: center;
    font-size: 70px;
    margin: 0%;
    font-family: 'Cinzel', serif;
}

#body-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-template-areas:
        "links-grid"
        "h1"
        "main-grid"
        "copyright";
}

#copyright {
    grid-area: copyright;
}

#links-grid {
    grid-area: links-grid;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    column-gap: 30px;
    grid-template-areas:
        "left-link logo-image right-link";
    align-items: flex-end;
}

#left-link {
    grid-area: left-link;
    display: flex;
    justify-content: space-evenly;
}

#right-link {
    grid-area: right-link;
    display: flex;
    justify-content: space-evenly;
}

.rotate img{
    transition: 0.5s ease;
}
    
.rotate img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 0.5s ease;
}

.main-flex {
    grid-area: main-grid;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
    grid-template-areas:
        "img txt";
}
@media screen and (max-width: 800px) {
    .main-flex{
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img"
        "txt";
    }
    .main-flex img{
        max-width: 85%;
        max-height: 85%;
        justify-self: center;
        
        
    }
    
    }
    

.main-flex img {
    grid-area: img;
    margin: 10px;
    width: 100%;
    justify-content: flex-end;
    border: 7px outset #8D5C28;
    border-radius: 14px;
    opacity: 0.8;
}

.about div {
    grid-area: txt;
    color: #b36f26;
    font-size: 1.4rem;
    padding-top: 5%;
    margin: 20px;
    line-height: 1.7rem;
    text-indent: 2%;
}

#logo-image {
    display: flex;
    width: 50px;
    opacity: 0.7;
    margin: auto;
    padding-top: 20px;
    justify-content: flex-end;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #15150d;
}

::-webkit-scrollbar-thumb {
    background-color:#8d5c28
}
