
.fling-minislide{
    border: 7px outset #8D5C28;
    border-radius: 14px;
    opacity: .65;
}

/* allows us to "cheat" the css without javascript for a minimal slideshow ,top line should make responsive*/
.fling-minislide {width:50%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative;  }
.fling-minislide img{ position:absolute; animation:fling-minislide 12s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}

.fling-minislide img:nth-child(3){animation-delay:3s;}
.fling-minislide img:nth-child(2){animation-delay:6s;}
.fling-minislide img:nth-child(1){animation-delay:9s;}


@media screen and (max-width: 800px) {
    .fling-minislide img{
        max-width: 100%;
        max-height: 100%;
    }
   
    
}
