
@keyframes slideIn {
    from {
        margin-left: -300%;
    }
    to {
        margin-left: 0%;
     }
}
#main-grid{
    justify-content: center;
    align-items: center;
}
.form {
    animation-duration: 2s;
    animation-name: slideIn;
    animation-iteration-count: 1;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    opacity: 0.8;
}

.info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: wheat;
    justify-content: space-between;
    padding: 5px;
}

form div label {
    font-size: 20px;
    padding-right: 15px;
}

select{
    color: wheat;
    font-size: 20px;
}

#submit {
    color:rgb(189, 167, 126);
    font-size: 25px;
    font-family: 'Cinzel', sans-serif;
}

input{
    color: wheat;
    width: 100%;
    font-size: 20px;
}