*{
    background-color: #15150D;
}

nav a {
    color: #b36f26;
    font-size: 30px;
    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    padding: 10px;
    box-shadow: inset 300px 0 0 0 #15150D;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

nav a:hover {
    box-shadow: inset 300px 0 0 0 #b36f26;
    color: #15150D;
}

h1 {
    color: #8d5c28;
    text-align: center;
    font-size: 70px;
    margin: 0%;
    font-family: 'Cinzel', serif;
}

#body-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-template-areas:
        "links-grid"
        "main-grid";
}

.rotate img{
    transition: 0.5s ease;
}
    
.rotate img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
}

#links-grid {
    grid-area: links-grid;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    column-gap: 30px;
    grid-template-areas:
        "left-link logo-image right-link";
    align-items: flex-end;
}

#left-link {
    grid-area: left-link;
    display: flex;
    justify-content: space-evenly;
}

#right-link {
    grid-area: right-link;
    display: flex;
    justify-content: space-evenly;
}

#main-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo-image {
    display: flex;
    width: 50px;
    opacity: 0.7;
    margin: auto;
    padding-top: 20px;
    justify-content: flex-end;
}

#reservation-link {
    grid-area: reservation-link;
    display: flex;
}

#services-link {
    grid-area: services-link;
    display: flex;
}

#homepage {
    grid-area: homepage;
    width: 100%;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #15150d;
}

::-webkit-scrollbar-thumb {
    background-color:#8d5c28
}

.brighten {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
} */

/* #slide {
    color: cornsilk;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    left: -100%;
    width: 80%;
    height: 80%;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0.25s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
.box{
    display: flex;
    position: absolute;

} */
